/* custom font link */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bg-banner {
  background-image: url("../images/banner.png");
}
.bg-fitness {
  background-image: url("../images/roated_banner.png");
}
